.home {
  padding: 40px;
  background: #2e3440;
  color: #eceff4;
  min-height: 100vh;

  a {
    color: #5e81ac;
  }

  h1 {
    font-size: white;
    font-size: 3em;
  }

  h2 {
    color: #d8dee9;
  }

  p.description {
    font-size: 13px;
    color: #eceff4;
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
  }

  label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 20px;
    padding: 6px 12px;
    display: inline-flex;
    flex-flow: row nowrap;
    background: #5e81ac;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #81a1c1;

    p.description {
      margin-right: 10px;
    }

    input[type="color"] {
      padding: 0;
      margin: 0;
      background: none;
      border: 0;
      cursor: pointer;
    }
  }

  button {
    padding: 12px 24px;
    border-radius: 4px;
    border: 0;
    font-weight: 800;
    color: #fff;
    background: #81a1c1;
    cursor: pointer;
  }

  input[type="password"] {
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid #4c566a;
    background: #3b4252;
    font-size: 13px;
    font-weight: 900;
    color: #fff;

    &:focus {
      outline: none;
      border-color: #5e81ac;
      box-shadow: 0 0 5px #5e81ac;
    }
  }

  .keys {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 20px;

    input {
      margin-bottom: 15px;
    }
  }
}
