.value {
  font-size: 25.5vw;
  font-weight: 900;
  color: "#000";
  margin: 0;
  -webkit-text-stroke: 1vw black;
}

.error {
  font-size: 10vw;
  font-weight: 900;
  color: "#e74c3c";
  margin: 0;
}
